@model CategoryModel
@{
    ViewData["Title"] = "Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Category" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row mb-1">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-primary mr-2" title="Kaydet"><i class="fa fa-save mr-2">&nbsp;</i>Kaydet</button>
                    <a href="/Category/Index" class="btn btn-dark" title="Kayıt Listesine Dön"><i class="fa fa-arrow-left mr-2">&nbsp;</i>Kayıt Listesine Dön</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}

